body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-image: url(1.png);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    flex-direction: row;
    flex-wrap: wrap;
}

.search-input, .search-btn, .location-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    margin: 5px 0;
}

@media (max-width: 768px) {

    .search-input
    {
        width: 80%;
        margin: 0;
    }
    .shortdesc{
        margin: 0 !important;
        padding: 0 !important;
    }
    .search-container{
        width: 90%;
        padding: 10px !important;
        gap: 5px !important;
    }
    body{
        background-position: center;
    }
    .footerclass{
        display: none !important;
    }
    .nav{
        display: none !important;
    }
    .descc{
        font-size: smaller;
    }
}

.search-input {
    flex-grow: 2;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    margin: 5px 0;
}

.search-btn, .location-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

.search-btn:hover, .location-btn:hover {
    background-color: lightgrey;
}

.card {
    border-radius: 20px !important;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    max-height: 400px;
    display: flex !important;
    backdrop-filter: blur(5px) !important;
    background-color: rgba(255, 255, 255, 0.3) !important;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    padding: 2em;
    margin: 1em;
}

.card:hover {
    transform: scale(1.05);
}

.title {
    font-weight: bold;
}

.weather-location {
    font-size: 1.2em;
    font-weight: bolder;
}

.weather-temp {
    font-size: 2em;
}

.weather-min-max {
    font-size: 1em;
    opacity: 0.8;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.weather-icon {
    width: 80px;
    height: auto;
    display: block;
    margin: 0 auto;
}
