body {
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("IMG_1341.jpg");
    font-family: sans-serif;
    backdrop-filter: blur(5px);
    
}
.col-md-6
{
    padding: 5% !important;
}

.header {
    color: black;
    font-weight: lighter;
}


@media(max-width:768px) {
    .hel
    {
        font-size: x-large;
        padding: 5%;
    }
    .card {
        margin: -0.8rem;
        width: 95% !important;
    }
}

.card {
  height: 260px;
  width: 380px;
  border-radius: 30px !important;
  background: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(50px);
  padding: 20px;
}

.name h1,.nameny h1,.namel h1,.namebk h1,.namehg h1,.named h1{
    margin-bottom: 0.2rem;
    font-size: 4rem;
}

.temp,.tempny,.templ,.tempbk,.temphg,.tempd{
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.value,.value1,.value2,.valueny,.value1ny,.value2ny,.valuel,.value1l,.value2l,.valuebk,.value1bk,.value2bk,.valuehg,.value1hg,.value2hg,
.valued,.value1d,.value2d{
    color: black;
    font-weight: bold;
}

.icon,.iconny,.iconl,.iconbk,.iconhg,.icond{
    width: 6rem;
    align-self: flex-end;
    margin-right: -4rem;
    margin-top: -4rem;
    z-index: 1;
}
